# system
__pycache__/
.ipynb_checkpoints
.python-version
.vscode

# general files
*.ipynb
*.sh

# general subdirectory
results/
pjs/
graph/

# directory
/experiments
/ssd

/notes.md
/reinforce
/pocket_conditioned_generation/*/*
/pocket_conditioned_generation_old/*
/pocket_conditioned_generation_old2/*
!/pocket_conditioned_generation/*.py
!/pocket_conditioned_generation/*/*.py
/test_qvina
!test.sh
tmp