# directory
/experiments
/ssd

/notes.md
/reinforce
/olds
/test_qvina
tmp
/downstream/*
!/downstream/finetune
!/downstream/finetune/*.py
/tests
/generate/*/*
!/generate/protein_structure/*.py
!/generate/pocket_structure/*.py
!/generate/*.py
!/generate/rec_ligand/eval.py
!/generate/redock/eval.py

# system
__pycache__/
.ipynb_checkpoints
.python-version
.vscode

# general files
*.ipynb
*.sh

# general subdirectory
results/
pjs/
graph/
